/* App.css or index.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

@font-face {
  font-family: 'Alta';
  src: url('./assets/fonts/alta-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.body {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body .text {
  width: 100%;
  text-align: center;
  position: absolute; /* changed from relative */
  top: 23%; /* try this to start — adjust based on where car ends */
  left: 50%;
  transform: translateX(-50%);
  font-size: 106px;
  font-family: 'Manrope';
  font-weight: 900;
  color: black;
  z-index: 5;
  letter-spacing: 5px;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.body .text:hover {
  color: white;
}

.body .logo>.alta {
  font-family: 'Alta';
  font-size: 42px;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 2.5px;
}
.body .logo .exp{
  font-size: 28px;
  font-family: alta;
  color: white;
  width: 100%;
  letter-spacing: 3px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .body .text {
    top: 25%;
    font-size: 64px;
  }
}

@media screen and (max-width: 480px) {
  .body .text {
    top: 28%;
    font-size: 48px;
  }
}